# Example configuration for modbus-exporter
# This file shows the minimum required fields to poll
# a Modbus TCP device and expose its data.

poll_interval: 60s   # How often Modbus is polled (NOT scrape interval)

devices:
  - name: "ion_7400"
    protocol: "modbus-tcp" # dor now only modbus-tcp is supported
    address: "192.168.1.3"
    port: 502
    timeout: 1s

    slaves:
      - id: 1
        name: "ion_7400_1"

        registers:
          - address: 3020
            function: 3            # Holding Registers
            name: "voltage_ll_ab"
            datatype: "float32_be"
            unit: "V"

          - address: 3022
            function: 3
            name: "voltage_ll_bc"
            datatype: "float32_be"
            unit: "V"

          - address: 3024
            function: 3
            name: "voltage_ll_ca"
            datatype: "float32_be"
            unit: "V"

          - address: 3060
            function: 3
            name: "active_power_total"
            datatype: "float32_be"
            unit: "W"

          - address: 3110
            function: 3
            name: "frequency"
            datatype: "float32_be"
            unit: "Hz"
