# Example configuration for modbus-exporter
# Minimum configuration to poll a Modbus TCP device.

poll_interval: 60s

devices:
  - name: "ion_7400"
    protocol: "modbus-tcp"
    address: "192.168.1.3"
    port: 502
    timeout: 1s

    slaves:
      - name: "ion_7400_1"
        slave_id: 1
        offset: 0

        modbus_registers:
          - register: 3000
            function_code: 3
            name: "current_a"
            description: "Current A"
            words: 2
            datatype: "F32BE"
            unit: "A"
            gain: 1
            flags:

          - register: 3002
            function_code: 3
            name: "current_b"
            description: "Current B"
            words: 2
            datatype: "F32BE"
            unit: "A"
            gain: 1
            flags:

          - register: 3004
            function_code: 3
            name: "current_c"
            description: "Current C"
            words: 2
            datatype: "F32BE"
            unit: "A"
            gain: 1
            flags:
